<div class="row">
	<div class="col-lg-12">
		<h3 class="page-header">상세 읽기 - @Model.NoteTitle</h3>
	</div>
</div>

<div class="row">
	<div class="col-lg-10">
		<div class="card mb-3">
			<div class="card-header">
			<label>제목 : </label>	@Model.NoteTitle
			</div>
			<div class="card-body">
				<p class="card-text">
					@Html.Raw(Model.NoteContents) 
					</p>
			</div>
			<div class="card-footer text-end">
				<a class="btn btn-primary" asp-controller="Note" asp-action="Index">목록</a>
			</div>
		</div>
	</div>
</div>
